<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <head th:include="fragments/header :: heading">
    <title th:text="Edycja">Edycja danych użytkownika</title>
        <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">

</head>

<body class="contact-details-body">
    <div th:replace="fragments/navbar :: navbar"></div>
            <div class = "details-form">
                <h1>Twoje dane</h1></div>
            <div class="details-form-data">
                <form th:method="post" th:action="@{/profile}" th:object="${editUserCommand}">
                    <div>
                        <label>Imię:</label>
                        <input class="form-input" th:field="*{firstName}" type="text"/><br>
                        <label>Nazwisko:</label>
                        <input class="form-input" th:field="*{lastName}" type="text"/><br>

                        <label>Miejscowość:</label>
                        <input class="form-input" th:field="*{town}" type="text"/><br>

                        <label>Kod pocztowy:</label>
                        <input class="form-input" th:field="*{zipCode}" type="text"/><br>

                        <div th:if="${#fields.hasErrors('zipCode')}" th:text="${#fields.errors('zipCode')}"></div>
                        <label>Ulica:</label>
                        <input class="form-input" th:field="*{street}" type="text"/><br>

                        <label>Numer domu:</label>
                        <input class="form-input" th:field="*{homeNumber}" type="text"/><br>

                        <label>Numer mieszkania:</label>
                        <input class="form-input" th:field="*{flatNumber}" type="text"/><br>

                        <button class="details-btn" type="submit">Zapisz zmiany</button>

                    </div>
                </form>
            </div>



<div th:replace="/fragments/footer :: footer"></div>

<script th:src="@{https://kit.fontawesome.com/a076d05399.js}"></script>
<script th:src="@{/js/jquery-1.11.3.min.js}"></script>
<script th:src="@{/js/home.js}"></script>
<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>