<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="Edycja">Edycja danych użytkownika</title>
</head>
<body>
    <div>
        <form th:method="post" th:action="@{/profile}" th:object="${editUserCommand}">
            <fieldset>
                <div>
                    <label>Imię:
                        <input th:field="*{firstName}" type="text"/>
                    </label>
                    <label>Nazwisko:
                        <input th:field="*{lastName}" type="text"/>
                    </label>
                    <label>Miasto:
                        <input th:field="*{town}" type="text"/>
                    </label>
                    <label>Kod pocztowy:
                        <input th:field="*{zipCode}" type="text"/>
                    </label>
                    <div th:if="${#fields.hasErrors('zipCode')}" th:text="${#fields.errors('zipCode')}"></div>
                    <label>Ulica:
                        <input th:field="*{street}" type="text"/>
                    </label>
                    <label>Numer domu:
                        <input th:field="*{homeNumber}" type="text"/>
                    </label>
                    <label>Numer mieszkania:
                        <input th:field="*{flatNumber}" type="text"/>
                    </label>
                </div>
            </fieldset>
            <fieldset>
                <button type="submit">Zapisz zmiany</button>
            </fieldset>
        </form>
    </div>
</body>
</html>