<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="heading">
    <meta charset="UTF-8">


    <link th:href="@{/css/reset.css}"  rel="stylesheet" type="text/css">
    <link th:href="@{/css/view.css}" rel="stylesheet" type="text/css" >
    <link th:href="@{/css/reset.css}" rel="stylesheet" type="text/css">

    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.scrollTo.min.js}"></script>
    <script th:src="@{/js/scroll.js}"></script>

</head>
</html>