<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="heading">
    <meta charset="UTF-8">


    <link th:href="@{/css/view.css}" rel="stylesheet" type="text/css" >

    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.scrollTo.min.js}"></script>
    <script th:src="@{/js/scroll.js}"></script>



    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/webjars/font-awesome/5.8.2/css/all.css" rel="stylesheet"/>
    <link th:href=" @{/css/vstyle.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/reset.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/helpers.css}" rel="stylesheet" type="text/css">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}">
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap}">

</head>
</html>