<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<nav th:fragment="navbar">
    <script th:src="@{https://kit.fontawesome.com/a076d05399.js}"></script>
    <div class="topnav" id="top-navbar">
        <!--Logo strony ----------------------------------------------------------------------------------------- -->
        <div class="nav">
            <div class="nav-logo">
                <a th:href="@{/home}">
                    <img th:src="@{/images/logo.png}"/>
                </a>
            </div>
            <!--Wyszukiwarka ----------------------------------------------------------------------------------------- -->
            <div class="nav-search d-flex">
                <div class="to-center">
                    <form th:method="get" th:action="@{/product/list}">
                        <input name="searchRegex"
                               type="text" placeholder="Czego szukasz?"/>
                        <button class="btn-search" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>
            <!--Menu boczne ----------------------------------------------------------------------------------------- -->
            <div class="nav-user">
                <ol class="user-main">
                    <li class="user-li"><i class="fas fa-headset"></i><p>Kontakt</p>
                        <ul class="user-ul">
                            <li class="user-li-li">
                                <a href="/contact">
                                    <form th:method="get" th:action="@{/contact/index.html}">
                                            <i class="far fa-envelope">  Formularz kontaktu</i>
                                    </form>
                                </a>
                            </li>
                            <li class="user-li-li">
                                <a href="#">
                                    <i class="fas fa-phone-volume">  +48 777-777-777</i>
                                </a>
                            </li>
                        </ul>

                    </li>
                    <!-- ================================================================================= -->
                    <li class="user-li"><i class="far fa-user"></i><p>Twoje konto</p>

                        <ul class="user-ul">
                            <li class="user-li-li">
                                <button id="loginButton"
                                        type="button"
                                        data-toggle="modal" data-target="#loginModal"
                                        sec:authorize="!isAuthenticated()">
                                    <i class="user-li-li"></i>Zaloguj<p></p>
                                </button>
                                <form th:action="@{/logout}" th:method="post">
                                    <button sec:authorize="isAuthenticated()">
                                        <i class="user-li-li"></i>Wyloguj<p></p>
                                    </button>
                                </form>
                                <div sec:authorize="!isAuthenticated()">
                                    <p>--- Nie masz konta? ---</p>
                                    <button id="registerButton"
                                            type="button"
                                            data-toggle="modal" data-target="#registerModal"
                                            sec:authorize="!isAuthenticated()">
                                        <i class="user-li-li"></i>Rejestracja<p></p>
                                    </button>
<!--                                    <button>-->
<!--                                        <a th:href="@{/register}">-->
<!--                                            <i class="user-li-li">Rejestracja</i><p></p>-->
<!--                                        </a>-->
<!--                                    </button>-->
                                </div>
                            </li>
                            <div sec:authorize="isAuthenticated()">
                                <li class="user-li-li">
                                    <a href="#">
                                        <i class="far fa-user">  Twoje konto</i><p></p>
                                    </a>
                                </li>

                                <li class="user-li-li">
                                    <div>
                                        <a href="#">
                                            <i class="far fa-clipboard">  Zamówienia</i><p></p>
                                        </a>
                                    </div>
                                </li>

                                <li class="user-li-li">
                                    <div>
                                        <a href="#">
                                            <i class="far fa-heart">  Listy zakupowe</i><p></p>
                                        </a></div>
                                </li>

                                <li class="user-li-li">
                                    <div>
                                        <a th:href="@{/profile}">
                                            <i class="fas fa-cog">  Ustawienia konta</i><p></p>
                                        </a></div>
                                </li>
                            </div>
                        </ul>

                    </li>
                    <!-- ================================================================================= -->
                    <li class="user-li">
                        <i class="far fa-heart"></i><p>Twoje listy</p>
                        <ul class="user-ul">
                            <li class="user-li-li">
                                <p>Brak obserwowanych</p>
                            </li>
                        </ul>
                    </li>
                    <!-- ================================================================================= -->
                    <li class="user-li">
                        <form th:method="get" th:action="@{/order/list}">
                            <button class="fas fa-shopping-basket" type="submit">
                            </button>
                        </form>
                        <p>Twój koszyk</p>
                        <ul class="user-ul">
                            <li class="user-li-li">
                                <p>Brak produktów w koszyku</p>
                            </li>
                        </ul>
                    </li>
                    <!-- ================================================================================= -->
                    <li sec:authorize="hasRole('ROLE_ADMIN')" class="user-li">
                        <i class="fas fa-users-cog"></i><p>Zarządzanie obiektami</p>
                        <ul class="user-ul">
                            <li class="user-li-li">
                                <button>
                                    <a th:href="@{/product-category/list}">
                                        <i class="user-li-li">Kategorie produktów</i><p></p>
                                    </a>
                                </button>
                            </li>
                        </ul>
                    </li>
                </ol>
            </div>

            <div class="menu">
                <ol class="menu-nav">
                    <li><a href="#"><img alt="" th:src="@{/images/computer.png}"/>  Komputery</a></li>
                    <li><a href="#"><img alt="" th:src="@{/images/mouse.png}"/>  Akcesoria</a></li>
                    <li><a href="#"><img alt="" th:src="@{/images/graphics.png}"/>  Grafika</a></li>
                    <li><a href="#"><img alt="" th:src="@{/images/motherboard.png}"/>  Płyty główne</a></li>
                    <li><a href="#"><img alt="" th:src="@{/images/ram.png}"/>  Ram</a></li>
                    <li><a href="#"><img alt="" th:src="@{/images/cpu.png}"/>  Procesory</a></li>
                    <li><a href="#"><img alt="" th:src="@{/images/disk.png}"/>  Dyski</a></li>
                    <li><a href="#"><img alt="" th:src="@{/images/desktop.png}"/>  Monitory</a></li>
                    <li><a href="#"><img about="" th:src="@{/images/box.png}"/>  Obudowy</a></li>
                </ol>
            </div>
        </div>
    </div>
</nav>
</html>