* {
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
  }

.topnav {
	width: 100%;
	height: 220px;
	margin: 0 !important;
	background-color: white;
}

.nav {
	position: absolute;
	top: 15px;
	left: 50%;
	width: 100%;
	height: 100px;
	transform: translateX(-50%);
	border: 2px solid #EBECF1;
	border-radius: 30px;
	background-color: rgb(62, 146, 255);
	display: inline-block;
	text-align: center;
}

.nav-logo {
	width: 25%;
	height: 97px;
	float: left;
	top: 10px;
}
.nav-logo img {
	width: 100%;
	height: auto;
}

.nav-search {
	float: left;
	height: 97px;
	width: 30%;
	text-align: center;
	vertical-align: middle;
}

.to-center {
	position: fixed;
	top: 50%;
	left: 40%;
	transform: translate(-40%, -40%);
}

.nav-search input {
	object-fit: contain;
	width: 300px;
	border-radius: 5px 5px 5px 5px;
}

.nav-search i {
	border-radius: 5px 5px 5px 5px;
}


.nav-user {
	width: 45%;
	height: 97px;
	float: left;
}

.menu {
	width: 100%;
	height: 50px;
	float: left;
	padding-top: 10px;
	background-color: rgb(28, 28, 156);
	border-radius: 30px;
	text-align: center;
	position: relative;
	z-index: -1;
}


/*Menu boczne ----------------------------------------------------------------------- */

.user-main {
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 20px;
	height: 100px;
	line-height: 150%;
	display: inline-block;
	letter-spacing: 2px;
}

.user-main i {
	color: black;
}

.user-main a {
	text-decoration: none;
	display: block;
	font-size: 18px;
}

.user-main > .user-li {
	float: left;
	width: auto;
	height: 40px;
	font-size: 15px;
	padding: 10px;
}

.user-main > .user-li > .user-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: none;
	background-color: cornflowerblue;
	border: 2px solid blueviolet;
	border-radius: 5px 5px 5px 5px;
}

.user-main >.user-li:hover > .user-ul {
	display: block;
}

.user-main > .user-li-li > .user-ul > .user-li-li {
	position: absolute;
	z-index: 100;
}

.user-main > .user-li > .user-ul > .user-li-li:hover {
	border-radius: 5px 5px 5px 5px;
	border: 1px solid black;
}


.list-cont {
	width: auto;
}
.list-cont-img {
	width: 20%;
	float: left;
	padding: 4px;

}

.list-cont-text {
	width: 70%;
	float: left;
	padding: 4px;
}
 /*Menu dolne ----------------------------------------------------------------------- */

.menu-nav {
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 20px;
	height: 30px;
	display: inline-block;
	letter-spacing: 2px;
}

.menu-nav a {
	color: #fff;
	text-decoration: none;
	display: block;
}

.menu-nav > li {
	float: left;
	width: 180px;
	height: 40px;
}

.menu-nav > li:hover {
	background-color: #0069bb;
}

.menu-nav > li:hover > a {
	color: #003d66;
}


/*kontent ----------------------------------------------------------------------- */

.content {
    width: 100%;
    text-align: center;
	margin-top: 10px;
}

.left, .right,.middle {
	text-align: left;
	width: 100%;
    margin: 0 auto;
    padding: 3px;
}

.content h1 {
	font-size: 25px;
}

.recomended, .news, .chosen {
	height: 150px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-radius: 5px 5px 5px 5px;
	background-color: rgba(0, 125, 197, 0.103);
	margin: 10px;
	width: 100%;
}

.footer {
	display: block;
	width: 100%;
	height: 50px;
	margin-top: 20px;
	text-align: center;
	font-size: 20px;
	color: #fff;
	background-color: black;
	line-height: 50px;
}

.form {
	display: flex;
	justify-content: center;
}

.form-label {
	text-align: left;
	margin: 5px;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}

.form-field {
	margin-top: 10px;
	width: 700px;
}

.form-field-login {
	margin-top: 10px;
	width: 400px;
}

.form-btn {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

.table-header {
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}

.table-content {
	font-family: 'Open Sans', sans-serif;
}

.table-total-items {
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	float: left;
	margin: 10px;
}

.table-pagination {
	float: left;
	margin: 10px;
	justify-content: center;
}

.clear-both {
	clear: both;
}