<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logowanie użytkownika</title>
    <link th:href="@{/css/logreg.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="center">
    <h1>Logowanie użytkownika</h1>
    <div>
        <form th:action="@{/login}" method="post">
                <div th:if="${param.error}">Nieprawidlowy użytkownik lub hasło!</div>
                <div th:if="${param.logout}">Zostałeś pomyślnie wylogowany.</div>
                <div>
                    <div class="txt_field">
                        <input type="email" name="username" required/>
                        <span></span>
                        <label><b>Username:</b></label>
                    </div>
                </div>
                <div>
                    <div class="txt_field">
                        <input type="password" name="password" required/>
                        <span></span>
                        <label><b>Hasło:</b></label>

                    </div>
                </div>
                <div>
                    <button type="submit">Zaloguj</button>
                </div>

        </form>
    </div>
</div>
</body>
</html>