<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: heading">
	<title>Sklep komputerowy</title>
</head>

<body>
	<script th:src="@{https://kit.fontawesome.com/a076d05399.js}"></script>
	<div class="container">
		<div class="topnav">
<!--Logo strony ----------------------------------------------------------------------------------------- -->
			<div class="nav">
				<div class="nav-logo">
					<img th:src="@{/img/logo.png}"/>
				</div>
<!--Wyszukiwarka ----------------------------------------------------------------------------------------- -->
				<div class="nav-search d-flex">
					<div class="to-center">
					<form>
						<input type="text" placeholder="Czego szukasz?"/>
						<button class="btn-search" type="submit">
							<i class="fas fa-search"></i>
						</button>
					</form>
				</div>
				</div>
<!--Menu boczne ----------------------------------------------------------------------------------------- -->
				<div class="nav-user">
					<ol class="user-main">
						<li class="user-li"><i class="fas fa-headset"></i><p>Kontakt</p>
							<ul class="user-ul">
								<li class="user-li-li">
									<a href="#">
										<i class="far fa-envelope">  Formularz kontaktu</i>
									</a>
								</li>
								<li class="user-li-li">
									<a href="#">
										<i class="fas fa-phone-volume">  +48 777-777-777</i>
									</a>
								</li>
							</ul>

						</li>
			<!-- ================================================================================= -->
						<li class="user-li"><i class="far fa-user"></i><p>Twoje konto</p>

							<ul class="user-ul">
								<li class="user-li-li">
									<button>
										<a th:href="@{/login}">
											<i class="user-li-li"></i>Zaloguj<p></p>
										</a>
									</button>
									<p>--- Nie masz konta? ---</p>
									<button>
										<a th:href="@{/register}">
											<li class="user-li-li">Rejestracja</i><p></p>
										</a>
									</button>
								</li>

								<li class="user-li-li">
									<a href="#">
										<i class="far fa-user">  Twoje konto</i><p></p>
									</a>
								</li>

								<li class="user-li-li">
									<div>
									<a href="#">
										<i class="far fa-clipboard">  Zamówienia</i><p></p>
									</a>
									</div>
								</li>

								<li class="user-li-li">
									<div>
									<a href="#">
										<i class="far fa-heart">  Listy zakupowe</i><p></p>
									</a></div>
								</li>

								<li class="user-li-li">
									<div>
									<a th:href="@{/profile/form}">
										<i class="fas fa-cog">  Ustawienia konta</i><p></p>
									</a></div>
								</li>
							</ul>

						</li>
			<!-- ================================================================================= -->
						<li class="user-li">
							<i class="far fa-heart"></i><p>Twoje listy</p>
							<ul class="user-ul">
								<li class="user-li-li">
									<p>Brak obserwowanych</p>
								</li>
							</ul>
						</li>
			<!-- ================================================================================= -->
						<li class="user-li">
							<i class="fas fa-shopping-basket"></i><p>Twój koszyk</p>
							<ul class="user-ul">
								<li class="user-li-li">
									<p>Brak produktów w koszyku</p>
								</li>
							</ul>
						</li>
					</ol>
				</div>

				<div class="menu">
					<ol class="menu-nav">
						<li cl><a href="#"><img alt="" th:src="@{/static/images/computer.png}"/>  Komputery</a></li>
						<li><a href="#"><img alt="" th:src="@{/static/images/mouse.png}"/>  Akcesoria</a></li>
						<li><a href="#"><img alt="" th:src="@{/static/images/graphics.png}"/>  Grafika</a></li>
						<li><a href="#"><img alt="" th:src="@{/static/images/motherboard.png}"/>  Płyty główne</a></li>
						<li><a href="#"><img alt="" th:src="@{/static/images/ram.png}"/>  Ram</a></li>
						<li><a href="#"><img alt="" th:src="@{/static/images/cpu.png}"/>  Procesory</a></li>
						<li><a href="#"><img alt="" th:src="@{/static/images/disk.png}"/>  Dyski</a></li>
						<li><a href="#"><img alt="" th:src="@{/static/images/desktop.png}"/>  Monitory</a></li>
						<li><a href="#"><img about="" th:src="@{/images/box.png}"/>  Obudowy</a></li>
					</ol>
				</div>
			</div>
		</div>
	</div>

	<div class="content">

		<div class="left"></div>

		<div class="middle">
			<div class="recomended">
				<h1>Polecane</h1>
				<div>
					lista polecanych
				</div>
			</div>
	
			<div class="news">
				<h1>Nowości</h1>
				<div>
					lista nowości
				</div>
			</div>
	
			<div class="chosen">
				<h1>Wybrane dla Ciebie</h1>
				<div>
					lista wybranych
				</div>
			</div>
		</div>

		<div class="right"></div>
	</div>


	<div class="footer">
		Projekt końcowy - Grudzień 2020r. "Sklep internetowy"
	</div>



	<script th:src="@{/static/js/jquery-1.11.3.min.js}"></script>
		
		<script>

		$(document).ready(function() {
		var NavY = $('.topnav').offset().top;
		
		var stickyNav = function(){
		var ScrollY = $(window).scrollTop();
			
		if (ScrollY > NavY) { 
			$('.topnav').addClass('sticky');
		} else {
			$('.topnav').removeClass('sticky'); 
		}
		};
		
		stickyNav();
		
		$(window).scroll(function() {
			stickyNav();
		});
		});
		
	</script>

</body>

</html>