<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:include="fragments/header :: heading">
	<title>Sklep komputerowy</title>
</head>

<body>
	<script th:src="@{https://kit.fontawesome.com/a076d05399.js}"></script>
	<div class="container">
		<div th:replace="/fragments/navbar :: navbar"></div>

	<div class="content">

		<div class="left"></div>

		<div class="middle">
			<div class="recomended">
				<h1>Polecane</h1>
				<div>
					lista polecanych
				</div>
			</div>
	
			<div class="news">
				<h1>Nowości</h1>
				<div>
					lista nowości
				</div>
			</div>
	
			<div class="chosen">
				<h1>Wybrane dla Ciebie</h1>
				<div>
					lista wybranych
				</div>
			</div>
		</div>

		<div class="right"></div>
	</div>

	</div>
	<div th:replace="/fragments/footer :: footer"></div>

	<script th:src="@{https://kit.fontawesome.com/a076d05399.js}"></script>
	<script th:src="@{/js/jquery-1.11.3.min.js}"></script>
	<script th:src="@{/js/home.js}"></script>
</body>

</html>