<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: heading">

    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/webjars/font-awesome/5.8.2/css/all.css" rel="stylesheet"/>
    <title>Lista produktów</title>
</head>
<body>
        <div class="container">
            <div th:replace="/fragments/navbar :: navbar"></div>
            <div class="content">
                <div class="middle">
                    <table class="table table-hover">
                        <thead class="table-header">
                            <tr>
                                <th scope="col">Nazwa produktu</th>
                                <th scope="col">Kategoria produktu</th>
                                <th scope="col">Cena produktu</th>
                                <th>Koszyk</th>
                            </tr>
                        </thead>
                        <tbody class="table-content">
                            <tr th:each="product : ${products}">
                                <td th:text="${product.name}"></td>
                                <td th:text="${product.category.name}"></td>
                                <td th:text="${product.price}"></td>
                                <td th:with="addOrder=@{/order/add}">
                                    <form method="post" th:action="@{${addOrder}}">
                                        <input type="hidden" name="productId" th:value="${product.id}"/>
                                        <button type="submit" class="waves-effect waves-light btn-small">
                                            Dodaj
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

            <div th:replace="/fragments/footer :: footer"></div>

            <script th:src="@{https://kit.fontawesome.com/a076d05399.js}"></script>
            <script th:src="@{/js/jquery-1.11.3.min.js}"></script>
            <script th:src="@{/js/home.js}"></script>
            <script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>